.wrapper {
    border-radius: 10px;
    margin: 40px;
    margin-left: 0;
    width: 100%;
    overflow: hidden;
}

.title h1 {
    margin: 0;
    font-weight: 400;
}
.title span {
    color: #26D1FE;
}

.awards-box {
    background: white;
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
    overflow-x: scroll;
}
.award {
    border-radius: 10px;
    width: 20%;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    opacity: 0.3;
}
.award img {
    width: 100px;
    transition: 400ms ease;
}

.award h1 {
    font-size: 20px;
    margin: 0;
}
.award span {
    margin: 0;
    margin-top: 10px;
}

.isAwarded {
    opacity: 1;
}

.filters {
    margin-top: 10px;
}
.title-filter {
    margin-top: 40px;
}
.btn {
    width: 150px;
    opacity: 0.5;
    margin-bottom: 10px;
    margin-right: 5px;
}
.filterSelected {
    opacity: 1;
}
