<app-header></app-header>

<div class="fx responsive">
  <app-navigation></app-navigation>

  <div class="wrapper">
    <div class="title">
      <span>AWARDS</span>
      <h1>Your Awards</h1>
    </div>
    <div class="awards-box fx">
      <div class="award" *ngFor="let award of awards" [class.isAwarded]="award.awarded">
        <img src="./assets/images/awards/award-{{award.difficulty}}.png">
        <h1>{{ award.awardName }}</h1>
        <span>{{ award.description }}</span>
      </div>
      <span class="empty" *ngIf="awards.length === 0">Nothing to show here</span>
    </div>
    <div class="title title-filter">
      <span>Filters</span>
    </div>
    <div class="filters">
      <button class="btn" (click)="filter(1)" [class.filterSelected]="activeFilter === 1">All</button>
      <button class="btn" (click)="filter(2)" [class.filterSelected]="activeFilter === 2">Awarded</button>
      <button class="btn" (click)="filter(3)" [class.filterSelected]="activeFilter === 3">Not awarded</button>
      <button class="btn" (click)="filter(4)" [class.filterSelected]="activeFilter === 4">Unavaiable</button>
    </div>
    <div class="title title-filter">
      <span>Difficulty</span>
    </div>
    <div class="filters">
      <button class="btn" (click)="filter('easy')" [class.filterSelected]="activeFilter === 'easy'">Easy</button>
      <button class="btn" (click)="filter('medium')" [class.filterSelected]="activeFilter === 'medium'">Medium</button>
      <button class="btn" (click)="filter('hard')" [class.filterSelected]="activeFilter === 'hard'">Hard</button>
    </div>
  </div>
</div>