<div class="header fx fx--center">
  <div routerLink="/home" class="logo-text">
    <span>TRACK</span>
    <span>FITNESS</span>
  </div>
  <div class="menus">
    <span routerLink="/home" routerLinkActive="active">Home</span>
    <span routerLink="/awards" routerLinkActive="active">Awards</span>
  </div>
  <div class="settings fx">
    <div class="notifications">
      <img src="./assets/images/header/bell.png" (click)="openNotif = !openNotif; removeIcon()">
      <div *ngIf="!removeNotif">
        <span *ngIf="notifications" class="notification-count fx fx--center">
          {{ notifications?.length }}
        </span>
      </div>
      <div *ngIf="openNotif" class="notifications-container">
        <div *ngFor="let notification of notifications">
          <div class="notifications-item">
            <a href="{{notification?.link}}">
              <h1>{{ notification?.title }}</h1>
              <h2>{{ notification?.description }}</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
    <img src="./assets/images/header/logout.png" (click)="logOut()">
  </div>
  <div class="burger">
    <span></span>
  </div>
  
  <nav>
    <ul class="main">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/awards" routerLinkActive="active">Awards</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    </ul>

    <div class="social">
    </div>

    <ul class="sub">
      <li><a>Notifications ({{ notifications?.length }})</a></li>
      <li><a (click)="logOut()">LogOut</a></li>
    </ul>
  </nav>
  
  <div class="overlay"></div>
</div>
