<div *ngIf="!removeWelcome" class="wrapper">
  <div class="container fx fx--fdc">
    <div class="heading">
      <h1>Welcome to your TRACK FITNESS dashboard</h1>
      <span>Here you can track your exercises and meals</span>
    </div>
    <div class="btn" (click)="removeSign()">Let's go</div>
    <div class="footer fx fx--fdc">
      <span>Created by Petar Marjanovic</span>
      <span>
        <a href="https://github.com/petar11199/trackfitness">https://github.com/petar11199/trackfitness</a>
      </span>
    </div>
  </div>
</div>