<app-header></app-header>

<div class="fx responsive">
  <app-navigation></app-navigation>

  <div class="profile fx">
    <div class="input-info">
      <span class="infoTitle">Edit your personal information here</span>
      <ng-template #loadedInputs>
      <form [formGroup]="personalInfo">
        <span class="inputTitle">Name</span>
        <input placeholder="Name" type="text" formControlName="name">

        <span class="inputTitle">Email</span>
        <input placeholder="Email" type="email" formControlName="email">

        <span class="inputTitle">Age</span>
        <input class="age" placeholder="Age" type="number" formControlName="age" max="100">

        <span class="inputTitle">Short bio</span>
        <textarea formControlName="bio" rows="5"></textarea>
        <div class="fx">
          <div class="inLine">
            <span class="inputTitle">Your height</span>
            <input type="number" formControlName="height">
          </div>
          <div>
            <span class="inputTitle">Your weight</span>
            <input type="number" formControlName="weight">
          </div>
        </div>
        <div class="fx fx--between">
          <button [disabled]="!personalInfo.dirty" class="btn" (click)="updateUser(personalInfo.value)">Save</button>
          <div *ngIf="successful" class="success fx fx--center">
            <img src="./assets/images/navigation/success.png">
            <span>Successfuly updated info!</span>
          </div>
        </div>
      </form>
      </ng-template>

      <div *ngIf="isLoading; else loadedInputs">
        <span class="inputTitle">Name</span>
        <input class="loading">

        <span class="inputTitle">Email</span>
        <input class="loading">

        <span class="inputTitle">Age</span>
        <input class="loading">

        <span class="inputTitle">Short bio</span>
        <textarea rows="5" class="loading"></textarea>
        <div class="fx">
          <div class="inLine">
            <span class="inputTitle">Your height</span>
            <input class="loading">
          </div>
          <div>
            <span class="inputTitle">Your weight</span>
            <input class="loading">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>