<app-header></app-header>

<div class="fx">
    <app-navigation></app-navigation>

    <div class="wrapper">
        <div class="title">
            <span>GOAL</span>
            <h1>Build Muscles</h1>
        </div>
        <div  class="cards fx">
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">
                
            </div>
        </div>
        <div class="analytics">
            <div>
                <span class="analytics-title">STATISTICS - </span>
                <span>Last Month</span>
            </div>
            <div class="chart fx">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <span class="not-avaiable">CHART NOT AVAILABLE</span>
            </div>
        </div>
    </div>
</div>
