<app-welcome></app-welcome>
<app-header></app-header>

<div class="fx responsive">
    <app-navigation></app-navigation>

    <div class="wrapper">
        <div class="title">
            <span>GOAL</span>
            <h1>Build Muscles</h1>
        </div>
        <div class="cards fx">
            <div class="card fx" routerLink="/home/exercises">
                <div class="left-side-card">
                    <img src="./assets/images/home/weight.png">
                    <div *ngIf="isLoading">
                        <h1 class="loading"></h1>
                    </div>
                    <div *ngIf="!isLoading">
                        <h1 *ngIf="exercises?.length > 1">{{ exercises?.length }} Exercises</h1>
                        <h1 *ngIf="exercises?.length === 1">{{ exercises?.length }} Exercise</h1>
                        <h1 *ngIf="!exercises?.length">No Exercises</h1>
                        <span>2 hours minimum</span>
                    </div>
                </div>
            </div>
            <div class="card fx" routerLink="/home/meals">
                <div class="left-side-card">
                    <img src="./assets/images/home/food.png">
                    <div *ngIf="isLoading">
                        <h1 class="loading"></h1>
                    </div>
                    <div *ngIf="!isLoading">
                        <h1 *ngIf="meals?.length > 1">{{ meals?.length }} Meals</h1>
                        <h1 *ngIf="meals?.length === 1">{{ meals?.length }} Meal</h1>
                        <h1 *ngIf="!meals?.length">No Meals</h1>
                        <span>4 meals minimum</span>
                    </div>
                </div>
            </div>
            <div class="card fx noCursor">
                <div class="left-side-card">
                    <img src="./assets/images/home/sleep.png">
                    <div>
                        <h1>Sleep</h1>
                        <span>8 hours minimum</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="analytics">
            <div>
                <span class="analytics-title">STATISTICS - </span>
                <span>Last Month</span>
            </div>
            <div class="chart fx">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <span class="not-avaiable">CHART NOT AVAILABLE</span>
            </div>
        </div>
    </div>
</div>