<app-header></app-header>

<div class="fx">
    <app-navigation></app-navigation>

    <div class="wrapper">
        <div class="title">
            <span>GOAL</span>
            <h1>Build Muscles</h1>
        </div>
        <div  class="cards fx">
            <div class="card fx" routerLink="/home/exercises">
                <div class="left-side-card">
                    <img src="./assets/images/home/weight.png">
                    <div>
                        <h1>10 Exercises</h1>
                        <span>1 hour 50 minutes</span>
                    </div>
                </div>
                <div class="right-side-card fx fx--center">
                    <div class="count">
                        <span>5</span>
                        <span>/10</span>
                    </div>
                </div>
            </div>
            <div class="card fx">
                <div class="left-side-card">
                    <img src="./assets/images/home/food.png">
                    <div>
                        <h1>6 Meals</h1>
                        <span>1604.0 cal</span>
                    </div>
                </div>
                <div class="right-side-card fx fx--center">
                    <div class="count">
                        <span>4</span>
                        <span>/6</span>
                    </div>
                </div>
            </div>
            <div class="card fx">
                <div class="left-side-card">
                    <img src="./assets/images/home/sleep.png">
                    <div>
                        <h1>Sleep</h1>
                        <span>8 hour minimum</span>
                    </div>
                </div>
                <div class="right-side-card fx fx--center">
                    <div class="count">
                        <span>7</span>
                        <span>/8</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="analytics">
                <div>
                    <span class="analytics-title">STATISTICS - </span>
                    <span>Last Month</span>
                </div>
                <div class="chart fx">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <span class="not-avaiable">CHART NOT AVAILABLE</span>
                </div>
            </div>
    </div>
</div>
