.navigation {
    width: 220px;
    background: white;
    border-radius: 10px;
    margin: 40px;
    box-shadow: 10px 10px 10px rgba(237, 239, 241, 0.3);
    position: relative;
}
.personal-info {
    padding: 25px;
}
.name {
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0 0 0;
}
.age {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
}
.image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.edit {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FF527A;
    font-size: 14px;
    cursor: pointer;
}
.height-title {
    font-size: 14px;
    font-weight: 400;
    color: #49A5F6;
    margin: 0;
    margin-bottom: 5px;
    opacity: 0.9;
}

.info-box {
    width: 50%;
    padding: 25px;
}
.info-box:first-child {
    border-right: 1px solid #E2E2E2;
}

.navigation-links {
    padding: 25px
}
.navigation-link {
    margin-bottom: 22px;
    align-items: center;
    cursor: pointer;
}
.navigation-link:hover {
    opacity: 0.7;
}

.navigation-link span {
    font-size: 18px;
    cursor: pointer;
    transition: 400ms ease;
}

.welcome {
    padding: 30px;
    margin: 20px;
    background: #49A5F6;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.welcome h1 {
    font-size: 16px;
    margin-top: 0;
}
.welcome span {
    font-size: 13px;
}

hr {
    background: #E2E2E2;
    width: 100%;
    opacity: 0.4;
    margin: 0;
}

.active {
    color: #CA657A;
}

img {
    height: 30px;
    margin-right: 25px;
}

